body,html{ background:url(https://i.imgur.com/r7kSA1l.gif) center no-repeat;
  background-size:cover;
  min-height:100%;
  font-family: 'Open Sans Condensed';
  font-size:15px;
  display:flex;
  align-items:center;
  justify-content:center
}
body:before{
  content:""; width:100%; height:100%; background:rgba(0,0,0,0.8);
  position:absolute;
  top:0;
  left:0;
  z-index:10
}
h1,h2{
  font-weight:400;
  letter-spacing:-2px
}
.card {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 180px;
  min-width: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  overflow:hidden;
  z-index: 999;
}

.header {
  position: relative;
  z-index:1;
  width: 100%;
  height: 150px;
  box-shadow:0 4px 3px #0002;
  overflow: hidden;
}
.card img{
  width:100%;
  transition: all 1s ease;
  z-index:0
}
.image {
  width: 100%;
  height: 180px;
  opacity: 1; cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAEZJREFUeAGt0EEKgDAUA1En9z+0qEENhA+FvlUZQqE9Bnynlmlr2iVkSY66AHrg+MddSUiU6VuxqMhYquzcCvO6PZjhx5oTQ+8Bs3EshqIAAAAASUVORK5CYII=),auto;
  overflow:hidden;
}
.bouncy{
 animation:bouncy 5s infinite linear;
 position:relative;
}
@keyframes bouncy {
 0%{top:0em}
 40%{top:0em}
 43%{top:-0.9em}
 46%{top:0em}
 48%{top:-0.4em}
 50%{top:0em}
 100%{top:0em;}
}

.image:hover img{
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.header h2{
  position:absolute;
  bottom:0;
  margin:0;
  width:75%;
  padding:0 10px;
  filter: drop-shadow(0px 1px 1px #000);
  text-transform:uppercase;
  pointer-events:none;
  background: -webkit-linear-gradient(#ff9000, #7F00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  0%,rgba(0,0,0,0.65) 100%);
}
.icon {
   ransition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  background:#fff;
  right: 10px;
  top: 25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow:hidden;
  border:3px solid #fff;
  box-shadow:0 4px 3px #0002;
  filter: drop-shadow(0px 3px 4px #000);
  z-index:9
}
.icon:hover {
   transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(deg);
  -moz-transform: rotate(540deg);
  -o-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
}
#rest{
  padding:30px 15px;
  line-height:30px;
  color:#000000
}


@import url(https://fonts.googleapis.com/css?family=Raleway:300);
 button {
	 left: 50%;
	 top: 104%;
	 transform: translateX(50%)                       translateY(-25%);
}
 button {
	 background: #333;
	 color: #ccc;
	 width: 200px;
	 height: 60px;
	 border: 0;
	 font-size: 18px;
	 border-radius: 4px;
	 font-family: 'Raleway', sans-serif;
	 transition: 0.6s;
	 overflow: hidden;
}
 button:focus {
	 outline: 0;
}
 button:before {
	 content: '';
	 display: block;
	 position: absolute;
	 background: rgba(255, 255, 255, 0.5);
	 width: 60px;
	 height: 100%;
	 left: 0;
	 top: 0;
	 opacity: 0.5;
	 filter: blur(30px);
	 transform: translateX(-100px) skewX(-15deg);
}
 button:after {
	 content: '';
	 display: block;
	 position: absolute;
	 background: rgba(255, 255, 255, 0.2);
	 width: 30px;
	 height: 100%;
	 left: 30px;
	 top: 0;
	 opacity: 0;
	 filter: blur(5px);
	 transform: translateX(-100px) skewX(-15deg);
}
 button:hover {
	 background: #7f46b1;
	 cursor: pointer;
}
 button:hover:before {
	 transform: translateX(300px) skewX(-15deg);
	 opacity: 0.6;
	 transition: 0.7s;
}
 button:hover:after {
	 transform: translateX(300px) skewX(-15deg);
	 opacity: 1;
	 transition: 0.7s;
}
 

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
